.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  li {
    list-style: none;
  }
}

@media (min-width: 640px) {
  .paginationContainer {
    gap: 1rem;
  }
}

.paginationItem {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.paginationPageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  min-width: 2.2rem;
  max-height: 3.2rem;
  padding: 0.8rem 0.4rem;

  &:hover {
    cursor: pointer;
  }

  > a:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--link-color);
  }
}

@media (min-width: 640px) {
  .paginationPageLink {
    min-width: 3.2rem;
    max-height: 3.2rem;
    padding: 0.8rem;
  }
}

.paginationActivePageLink {
  background-color: var(--button-color);
  color: var(--main-color);
  border-radius: 4px;

  &:hover {
    color: var(--main-color);
  }
}

.paginationDisabledPageLink {
  color: var(--main-text-color);

  &:hover {
    cursor: default;
    color: var(--main-text-color);
  }
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.2rem;
  max-height: 3.2rem;
  padding: 0.8rem;
  background-color: var(--main-color);
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  > a:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid var(--link-color);
  }
}
