.favoriteButton {
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.Icon {
  &:hover {
    path {
      stroke: var(--link-color);
    }
  }
}

.active {
  svg {
    fill: var(--link-color);

    path {
      stroke: var(--link-color);
    }
  }
}
