.section {
  margin-bottom: 1rem;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;

  li {
    list-style: none;
  }
}

.paginationItem {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.paginationPageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.2rem;
  max-height: 3.2rem;
  padding: 0.8rem;

  &:hover {
    cursor: pointer;
  }
}

.paginationActivePageLink {
  background-color: var(--button-color);
  border-radius: 4px;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--main-color);
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}
