.section {
  margin-bottom: 1rem;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;

  li {
    list-style: none;
  }
}

.paginationItem {
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.paginationPageLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.2rem;
  max-height: 3.2rem;
  padding: 0.8rem;

  &:hover {
    cursor: pointer;
  }

  > a:focus {
    outline: none;
  }

  &:focus-within {
    outline: 1px solid var(--link-color);
  }
}

.paginationActivePageLink {
  background-color: var(--button-color);
  border-radius: 4px;
}

.paginationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--main-color);
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  > a:focus {
    outline: none;
  }

  &:focus-within {
    outline: 1px solid var(--link-color);
  }
}

.vacancyInfo {
  display: block;
  margin-bottom: 4rem;
  padding: 2.4rem;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  b {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 1.6rem;
  }

  ul {
    margin-left: 2.4rem;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :first-child > b {
    margin-top: 0;
  }
}
