.main {
  padding-top: calc(var(--header-height) + 1.6rem);
  background-color: var(--background-color);
}

.container {
  min-width: 320px;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}
